.mgt0{margin-top: 0 !important;}
.mgb40{margin-bottom: 40px; display: block;}

.mgt40{margin-top: 40px;}
.mgt60{margin-top: 60px;}
.mgt70{margin-top: 50px;}
.mgb70{margin-bottom: 50px;}
.mgt90{margin-top: 70px;}
.mgb90{margin-bottom: 70px;}
.pgt0{ padding-top: 0 !important;}
.pgt90{ padding-top: 70px;}
.pgb90{ padding-bottom: 70px;}

a{cursor: pointer;
transition: 0.7s;}

a:hover{opacity: 0.6;}

.bg-light-blue{
	background-color: #ecf0f1;
}

.bg-gray {
    padding: 4%;
    background-color: #ecf0f1;
}
body{
	font-family: 'Noto Serif JP', serif;
}

#wapper{overflow: hidden;}

.text-center{text-align: center;}

#contents{
	padding: 45px 0px;
}
#contents.contents-en {
	padding: 0;
}

.container-fluid{
	width: 100%;
	max-width: 1200px;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
	margin: auto;
}	

.container{
		width: 100%;
	max-width: 1040px;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
	margin: auto;
	padding-bottom: 70px;
}

.logo {
    margin: 15px 0px;
    width: 100%;
    max-width: 170px;
}	


.header-btn-contact {
    width: 23%;
    float: right;
    margin-top: 35px;
}

	#main-head{
		position: relative;
		height:  100vh;
		background-size: cover;
	}	

.main-head-inner {
    position: absolute;
    top: 0;
    left: 0;
	right:0;
    bottom: 0;

    margin: auto;
    width: 96%;
    height: 50vh;
}

.main-head-inner h2 {
    font-size: 34px;
    color: #fff;
    border-bottom: solid 2px #fff;
    padding-bottom: 40px;
	font-weight: normal;
	margin-bottom: 40px;
}
.main-head-inner{
	font-size: 13px;
	color: #fff;
}

.site-footer{
	padding: 50px 0px;
	background-color: #2c3e50;
	color: #fff;
}

.site-footer a{ color: #fff;}



	.btn,.head_btn{ 
		background-color: #e67e22;
		color: #fff;
		padding: 5px 10px;
		position: relative;
		text-decoration: none;
	}
.btn {
    font-size: 16px;
    display: inline-block;
    /* padding: 22px 40px 22px 18px; */
    padding: 22px 0px;
    min-width: 285px;
    width: 100%;
    max-width: 300px;
}
.btn span {
    position: relative;
    margin-left: -10px;
}
.btn span::after{
	position: absolute;
	display: block;
	content: "";
	background-image: url(img/btn-arrow.png);
	width: 14px;
	height: 4px;
	background-size: contain;
	background-repeat: no-repeat;
	right: -18px;
	top: 50%;
}

.head_btn{font-size: 14px;display: inline-block;}

	.contact-btn::before{
		content: " ";
		width: 23.4573px;
		height: 18px;
		background-image: url("img/mail.png");
		background-size: contain;
		background-position: absolute;
		background-repeat: no-repeat;
	}

.header-contact-btn,.application-btn{    position: relative;
    /* text-indent: 15px; */
    display: block;
    text-indent: 15px;}

	.header-contact-btn::before{
    content: " ";
    width: 19.4573px;
    height: 18px;
    background-image: url(img/mail.png);
    background-size: contain;
    position: absolute;
    background-repeat: no-repeat;
    top: 4px;
    left: 4px;
    display: block;
		
	}

.application-btn::before {
    content: " ";
    width: 19.4573px;
    height: 18px;
    background-image: url(img/entry.png);
    background-size: contain;
    position: absolute;
    background-repeat: no-repeat;
    top: 1px;
    left: 6px;
    display: block;
}


.main_head{
	position: relative;
}

.section{ 	padding-top: 70px;
			padding-bottom: 70px;
		}
	
	.section-title{
		font-size: 32px;
		margin-bottom: 50px;
		text-align: center;
	}
	.section-sub-title{
		font-size: 14px;
	margin-top: 30px;
		display: block;
}


.caption_title{font-size: 14px;
text-align: center;
margin-top: 24px;
margin-bottom: 35px;}


.soy-icon{	content: " ";
	width: 40px;
	height: 40px;
		background-image: url("img/soy.png");
		background-size: contain;
		background-position: absolute;
		background-repeat: no-repeat;}

.rice-icon{	content: " ";
	width: 40px;
	height: 40px;
		background-image: url("img/kome.png");
		background-size: contain;
		background-position: absolute;
		background-repeat: no-repeat;}
.dna-icon{	content: " ";
	width: 40px;
	height: 40px;
		background-image: url("img/dna.png");
		background-size: contain;
		background-position: absolute;
		background-repeat: no-repeat;}
.bio-icon{	content: " ";
	width: 40px;
	height: 40px;
		background-image: url("img/micro02.png");
		background-size: contain;
		background-position: absolute;
		background-repeat: no-repeat;}
.renz-icon{	content: " ";
	width: 40px;
	height: 40px;
		background-image: url("img/test.png");
		background-size: contain;
		background-position: absolute;
		background-repeat: no-repeat;}
.arerugen-icon{	content: " ";
	width: 40px;
	height: 40px;
		background-image: url("img/food.png");
		background-size: contain;
		background-position: absolute;
		background-repeat: no-repeat;}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
 
.clearfix:before {
　　　　content: "";
	display: block;
	clear: both;
}
 
.clearfix {
	display: block;
}


/*top*/

.bg-hony {
    background-image: url(img/top/hony.jpg);
    background-size: contain;
    /* background-repeat: no-repeat; */
    /* background-position: 5%; */
    padding: 0px 0px;
    position: static;
    margin-top: 0;
}

.bg-7-inner {
    position: static;
    height: auto;
    /* min-height: 183px; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    background-color: #fff;
    width: 100%;
    max-width: 600px;
    padding: 10px;
}

.row {

}

.col-3{    width: 100%;
    display: block;
    margin-right: unset;
	vertical-align: top;}

.col-6 {
    width: 100%;
    display: block;
    margin-right: unset;
	vertical-align: top;
}

.col-4{width: 100%;
    display: block;
    margin-right: unset;
	vertical-align: top;}


.col-8{width: 100%;
    display: block;
    margin-right: unset;
	vertical-align: top;}


.col-4-left,.col-4-middle,.col-4-right {
    width: 100%;
    display: block;
    margin-right: 0;
	margin-left: 0;
	margin-bottom: 25px;
	vertical-align: top;
}



.caption-title28{ font-size: 28px;}
.caption14{font-size: 14px;}
.caption15{font-size: 15px;}
.caption16{font-size: 16px;}
.caption18{font-size: 18px;}

ul.news_list {
    margin-top: 50px;
    padding-left: 0;
    margin-left: 0;
}

ul.news_list li {
    list-style-type: none;
	text-decoration: none;
	border-bottom: solid 1px #ccc;
	padding-bottom: 1em;
	font-size: 14px;
}

ul.news_list li a{ text-decoration: none; color:#333;}

span.up-date,span.cat-name,span.post-title {
    margin-right: 15px;
}
span.post-title {
    display: block;
    padding-top: 15px;
}
.cat-name{
	background-color: #2c3e50;
	color: #fff;
	padding: 2px 5px;
}


footer .container{ padding-bottom: 0;}

.footer-logo{
	width: 100%;
	max-width: 274.5px;
	margin: auto;
	margin-bottom: 25px;
}

.footer-left{
	width: 100%;
	max-width: 370px;
	float: left;
}


.footer-right{
	display: none;
	width: 70%;
	max-width: 670px;
	float: right;
}

a.footer-btn,a.header-btn {
    min-width: 130px;
    width: 130px;
    text-align: center;
    padding: 4px;
    font-size: 14px;
	background-color: #e67e22;
	color: #fff;
	position: relative;
	text-decoration: none;
	display: inline-block;
}

.footer-btn span{position: relative; margin-left: 15px;}

.footer-adress{
	margin-bottom: 25px;
	font-size: 14px;
}

.tel-fax{
	margin-bottom: 30px;
	font-size: 14px;
}

.footer-map::before{
	position: absolute;
	content: "";
	width: 24px;
	height: 18px;
	background-image: url(img/map.png);
	left: -24px;
	background-size: contain;
	background-repeat: no-repeat;
	top: 3px;
	display: block;
}

.contact-btn::before{
	position: absolute;
	content: "";
	width: 24px;
	height: 20px;
	background-image: url(img/mail.png);
	left: -24px;
	background-size: contain;
	background-repeat: no-repeat;
	top: 3px;
	display: block;
}

.map-contact.clearfix,.tel-fax {
    text-align: center;
}


.praivacy{font-size: 14px;}

.copyright{padding: 50px 10px;
width: 100%;
text-align: center;
	font-size: 16px;}


.sp-nav-btn {
    position: absolute;
    right: 15px;
    top: 15px;
    width: 25px;
}


	.pc_show{display:none; }	
	.sp_show{display: block;}

/*sp-nav*/

#sp_gnav {
    width: 100%;
    height: 100vh;
    background-color: #1a1a1a;
   display: none;
    position: fixed;
    z-index: 9;
    top: 0;
}

#sp_gnav a{text-decoration: none;}

#sp_gnav_header {
    padding-left: 10px;
}
#sp_gnav a{
 color: #fff !important;	
}
ul#sp_gnav_list {
    margin: 0;
    margin-top: 50px;
}

ul#sp_gnav_list li {
	list-style-type: none;
    margin: 0;
    margin-bottom: 30px;
}

ul#sp_gnav_list li ul {
    margin: 0;
    padding: 0;
    margin-top: 30px;
}
ul#sp_gnav_list li ul li{
	
	margin: 10px 0px;

}


#sp_gnav_close {
    width: 19px;
    position: absolute;
    right: 15px;
    top: 15px;
}

#main-head-page {
    height: 90vh;
    background-size: cover;
	position: relative;
	    background-position: center;
}

#head-page-inner {
    position: absolute;
    width: 100%;
    max-width: 1080px;
    left: 0;
    right: 0;
    bottom: 40px;
    margin: auto;
    /* bottom: 0; */
    height: 24vh;
	color: #000;
}

.head-page-title {
    font-size: 28px;
    line-height: 1em;
    padding: 5px 15px;
    background-color: rgba(255, 255, 255, 0.73);
    display: inline-block;
}

.head-sub-title{
	font-size: 12px;
}	

.section-page-title{
	font-size: 21px;
	text-align: center;
	
}

.section-page-sub-title{
	font-size: 16px;
	text-align: center;
	margin-top: 50px;
	display: inline-block;
}
.section-page-sub-title::before,
.section-page-sub-title::after {
  content: '';
  height: 1px;
  background-color: #e5e5e5;
  flex-grow: 1;
}
	
.table{
	margin-top: 60px;
	border:solid 1px #ccc;
	border-spacing: 0;
}
 
.table th{ 
	display: block;
	background-color: #333;
color: #fff;
padding: 20px;
border-bottom:solid 1px #ccc;}
.table .th-last-child{border-color: transparent;}
.table td{padding: 20px;
	display: block;
border-bottom:solid 1px #ccc;}
.table .td-last-child{border-color: transparent;}


.card-body {
    padding: 10px;
    vertical-align: top;
    height: 100%;
    min-height: 220px;
}


table.form-table {
    border-spacing: 0px;
    border: solid 1px #ccc;
}
	
.form-table th {
	display: block;
    background-color: #f5f5f5;
    font-size: 14px;
    padding: 15px;
    width: 100%;
	box-sizing: border-box;
	border-bottom: solid 1px #ccc;
}	
.form-table td {
	display: block;
    font-size: 14px;
    padding: 15px;
	border-bottom: solid 1px #ccc;
}


.no-border{border-bottom-color: transparent !important;}
.down{display: block; }	
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"]{
	display: inline-block;
	width: 100%;
	}


input[type="submit"]{
	font-size: 16px;
    display: inline-block;
    /* padding: 22px 40px 22px 18px; */
    padding: 22px 0px;
    min-width: 285px;
    width: 100%;
    max-width: 300px;
	background-color: #e67e22;
		color: #fff;
		position: relative;
		text-decoration: none;
	cursor: pointer;
}

input[type="submit"]::after{
	position: absolute;
	display: block;
	content: "";
	background-image: url(img/btn-arrow.png);
	width: 14px;
	height: 4px;
	background-size: contain;
	background-repeat: no-repeat;
	right: -18px;
	top: 50%;
}

.breadcrumbs .container {
    padding: 0;
    margin-top: 30px;
    font-size: 14px;
    margin-bottom: 0;
	padding-left: 15px;
	padding-right: 15px;
}
.breadcrumbs a {
    color: #333;
    text-decoration: none;
}


.section-page-sub-title{
	font-size: 20px;
	text-align: center;
	margin-top: 60px;
display: inline-block;
  align-items: center;
	position: relative;
}

.section-page-sub-title::after {
    content: '';
    width: 45%;
    display: inline-block;
    height: 1px;
    background-color: #e5e5e5;
    flex-grow: 1;
    position: absolute;
    right: -50%;
    margin: auto;
    top: 50%;
}
	
.section-page-sub-title::before {
    content: '';
    width: 45%;
    display: inline-block;
    height: 1px;
    background-color: #e5e5e5;
    flex-grow: 1;
    position: absolute;
    left: -50%;
    margin: auto;
    top: 50%;
}


.require {
    font-size: 11px;
    background-color: #eb2142;
    color: #fff;
    font-weight: normal;
    padding: 1px 8px;
    margin-left: 10px;
}

.img75{
	width: 75%;
	margin: auto;
	display: block;
}

/*ipad*/
@media (min-width: 768px) {
	/*
	.col-4-left {
    width: 30%;
    display: inline-block;
    margin-right: 1%;
}
	
.col-4-middle {
    width: 30%;
    display: inline-block;
    margin-right: 1%;
	margin-left: 1%;
}
	
.col-4-right {
    width: 30%;
    display: inline-block;
	margin-left: 1%;
}
	
.col-6 {
    width: 48%;
    display: inline-block;
    margin-right: 1%;
} */
/*}

*/



.mgt70{margin-top: 70px;}
.mgb{margin-bottom: 70px;}
.mgt90{margin-top: 90px;}
.mgb90{margin-bottom: 90px;}
.pt90{ padding-top: 90px;}
.pb90{ padding-bottom: 90px;}

.col-4-left {
    width: 31%;
    display: inline-block;
    margin-right: 1.5%;
}
	
	
.col-4-middle {
    width: 31%;
    display: inline-block;
    margin-right: 1%;
	margin-left: 1%;
}	
	
.col-4-right {
    width: 31%;
    display: inline-block;
	margin-left: 1.5%;
}		
	
.col-6 {
    width: 48%;
    display: inline-block;
    margin-right: 1%;
}	
	
	
.col-4{width: 32%;
    display: inline-block;
    margin-right: 1%;}


.col-8{width: 65%;
    display: inline-block;
    margin-right: 1%;}
	
.sub-menu::before {
    content: "";
    top: -8px;
    left: 45%;
    border-bottom: 1em solid transparent;
    border-left: 1em solid #ffffffc2;
    position: absolute;
    z-index: 100;
    transform: rotate(45deg);
}
	
	.lead{font-size: 24px; font-weight: bold;
	margin: 40px 0px;}


	
	
.section-page-title{
	font-size: 36px;
	text-align: center;
    margin-top: 45px;
}

.section-page-sub-title{
	font-size: 28px;
	text-align: center;
	margin-top: 60px;
display: inline-block;
  align-items: center;
	position: relative;
}

.section-page-sub-title::after {
    content: '';
    width: 100px;
    display: inline-block;
    height: 1px;
    background-color: #e5e5e5;
    flex-grow: 1;
    position: absolute;
    right: -115px;
    margin: auto;
    top: 50%;
}
	
.section-page-sub-title::before {
    content: '';
    width: 100px;
    display: inline-block;
    height: 1px;
    background-color: #e5e5e5;
    flex-grow: 1;
    position: absolute;
    left: -115px;
    margin: auto;
    top: 50%;
}	
	
	
	#main-head{
		position: relative;
		height:  100vh;
		background-size: cover;
		    background-position: center;
	}	

	
	.head-page-title {
    font-size: 62px;
    line-height: 1em;
    padding: 5px 15px;
    background-color: rgba(255, 255, 255, 0.73);
    display: inline-block;
}

.head-sub-title{
	font-size: 16px;
}


	
	.main_head{
	
}
	
	.section{ 	
			padding-top: 90px;
			padding-bottom: 90px;
	}
	
	.section-title{
		font-size: 62px;
		margin-bottom: 30px;
	}
	.section-sub-title{
		font-size: 16px;
	margin-bottom: 70px;
}
	
	.caption_title{font-size: 24px;}
	
	
	

ul.news_list {
    margin-top: 70px;
}

ul.news_list li {
    list-style-type: none;
	text-decoration: none;
	border-bottom: solid 1px #ccc;
	padding: 1em 0 0.5em;
	font-size: 14px;
}

ul.news_list li a{ text-decoration: none; color:#333;}
	
span.post-title {
    display: block;
    padding-top: 0.5em;
}	
	
	.footer-nav,.footer-nav li{
		margin: 0;
		padding: 0;
		position: relative;
	}
	
	.footer-nav{margin-top: 80px;}	
	
	.footer-nav a{
		text-decoration: none;
	}
	
	
ul.footer-nav li {
    display: inline-block;
    margin-right: 15px;
    position: relative;
}
	


	
	ul.sub-nav{
		position: absolute;
		margin: 0;
		padding: 0;
	}
	
	ul.sub-nav li {
    display: block;
    width: 200px;
}
ul.sub-nav.sub-nav-en li {
    display: block;
    width: auto;
}


.footer-left{
	width: 30%;
}


.footer-right{
	width: 70%;
	display: inline-block;
}




.container{
	padding-bottom: 90px;
}

.bg-hony {
    background-image: url(img/top/hony.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 25%;
    padding: 50px 0px;
	position: relative;
	padding-top: 32%;
}
.bg-7-inner {
    position: absolute;
    height: 530px;
    /* min-height: 183px; */
    top: 0;
    bottom: 0;
    left: auto;
    right: 15%;
    margin: auto;
    text-align: center;
    background-color: #fff;
    width: 100%;
    max-width: 600px;
    padding: 40px;
}
	
	
.map-contact.clearfix,.tel-fax {
    text-align: left;
}

.footer-logo{
	width: 100%;
	max-width: 274.5px;
	margin-left: 0;
	margin-bottom: 25px;
}

table.form-table {
    border-spacing: 0px;
    border: solid 1px #ccc;
}
	
.form-table th {
	display:table-cell;
    background-color: #f5f5f5;
    font-size: 14px;
    padding: 15px;
    width: 25%;
    min-width: 270px;
	border-bottom: solid 1px #ccc;
    border-right: solid 1px #ccc;
}	
	.form-table td {
	display:table-cell;
    font-size: 14px;
    padding: 15px;
	border-bottom: solid 1px #ccc;
}


.table{
	margin-top: 60px;
	border:solid 1px #ccc;
	border-spacing: 0;
}
 
.table th{ 
	display: table-cell;
	background-color: #333;
color: #fff;
padding: 20px;
border-bottom:solid 1px #ccc;}
.table .th-last-child{border-color: transparent;}
.table td{padding: 20px;
display: table-cell;	
border-bottom:solid 1px #ccc;}
.table .td-last-child{border-color: transparent;}	

	
.img75{
	width: 100%;
}	
	
	
	}
@media only screen and (max-width: 768px) {
	.footer-adress {
		text-align: center;
	}
}


/*PC1186*/
@media (min-width: 1186px) {
	.pc_show{display: block;}	
	.sp_show{display: none;}
	.down{display: inline-block; }	
	
.logo {
    margin: 35px 0px;
    width: 25%;
    max-width: 272.5306px;
    float: left;
}
.main-navigation ul{display: block;}

.main-navigation {
    width: 60%;
    float: left;
    /* padding-left: 5%; */
    display: inline-block;
    margin: 40px 0% 40px 3%;
}
	
	
	
.nav-menu li a{ font-size: 16px; color: #333;}
	
.main-navigation li {
    position: relative;
    margin-left: 3%;
    display: inline-block;
	
}
	
	ul.sub-menu li {
float: left;
    display: inline-block;
    width: 320px;
    margin-bottom: 30px;
		    margin-left: 50px;
}
	
ul.sub-menu li a {
    font-size: 20px;
    padding-left: 60px;
    padding: 5px 0px 10px 60px;
    margin-bottom: 30px;
}	

.main-head-inner {
    position: absolute;
    top: 0;
    left: 15%;
    bottom: 0;
    right: auto;
    margin: auto;
    width: 45%;
    height: 380px;
}
.main-head-inner-en {
	width: 50%;
}

.main-head-inner h2 {
    font-size: 64px;
    color: #fff;
    border-bottom: solid 2px #fff;
    padding-bottom: 0.4em;
	font-weight: normal;
	margin-bottom: 40px;
}
.main-head-inner-en h2 {
	border: none;
}
.main-head-inner{
	font-size: 24px;
	color: #fff;
}
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"]{
	display: inline-block;
	width: 50%;
	}
}
	
/*blog*/
blockquote {
    margin: 0;
    padding: 2% !important;
    border: solid 1px #ccc;
    box-sizing: border-box;
}
.post-time-blok {
    margin-top: 40px;
}
.posts, .postsa {
    min-height: 200px;
}
.posts p {
    margin-bottom: 30px;
}
.posts h1 {
    font-size: 26px;
    font-weight: 500;
    color: #283D3B;
    line-height: 1.2em;
    margin-top: 0px;
    margin-bottom: 40px;
}
.posts img {
}


.posts h2 {
    font-size: 22px;
    font-weight: 500;
    background-color: #F4F4F4;
    line-height: 1.2em;
	margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px;
    box-sizing: border-box;
    color: #283D3B;
}
.posts h3 {
    font-size: 20px;
    border-top: 1px solid #283D3B;
    border-bottom: 1px solid #283D3B;
    padding: 20px 0px;
    line-height: 1.3em;
    font-weight: 500;
    color: #283D3B;
    	margin-top: 40px;
    margin-bottom: 40px;
}
.posts h4 {
    font-size: 21px;
    border-left: 5px solid #283D3B;
    padding: 0 0.5em;
    color: #283D3B;
   	margin-top: 40px;
    margin-bottom: 40px;
}
.posts h5 {
    border: 1px solid #283D3B;
    padding: 1em 1em;
    font-size: 18px;
    font-weight: 500;
    color: #283D3B;
   	margin-top: 40px;
    margin-bottom: 40px;
}
.posts h6 {
    font-size: 18px;
    font-weight: 500;
    border-bottom: 1px solid #283D3B;
    padding-bottom: 0.5em;
    color: #283D3B;
    margin-top: 40px;
    margin-bottom: 40px;
}
.posts ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
}
.posts ul li {
    padding-left: 1em;
    text-indent: -.7em;
}
.posts ul li:before {
    content: "● ";
    color: #283D3B;
}
.posts ol {
    counter-reset: li;    /* li のカウンタを 0 にセット */
    list-style: none;
    margin-bottom: 20px;
}
.posts ol li:before {
    color: #283D3B;
    font-weight: bold;
    counter-increment: li;   /* li の数を一つずつ増加 */
    content: counter(li) ". ";          /* 数を表示 */
}
.margin-auto {
    margin-left: auto;
    margin-right: auto;
}

/* jpc追加 */
.small-num {
	font-size: 12px;
	display: inline-block;
	vertical-align: super;
}